/* Code: ABAB016 */

.introduction {
  height: 93.5vh;
  width: 100vw;
  background-image: url("../src/sofa02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcomeLogo {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;
}

.welcome {
  font-size: calc(7 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorWhite);
  display: flex;
  padding-left: 100px;
}

.logoBack {
  width: 850px;
  height: 80px;
  background-color: var(--colorWhite);
  padding-left: 0;
}

.logo {
  padding-left: 100px;
  padding-top: 10px;
}

.sentance {
  display: flex;
  width: 850px;
  padding: 20px 5px 0 100px;
  text-align: justify;
  font-size: calc(1.2 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorWhite);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

@media (width < 1000px) {
  .welcome {
    font-size: calc(5 * var(--size));
  }

  .logoBack {
    width: 700px;
    height: 60px;
  }
  .sentance {
    width: 700px;
    font-size: var(--size);
    font-weight: var(--boldL2);
  }
}

@media (width < 880px) {
  .introduction {
    background-image: url("../src/sofa03.jpg");
    width: 100%;
    height: 100vh;
  }

  .welcomeLogo {
    padding-top: 10px;
  }
}
@media (width < 780px) {
  .introduction {
    background-image: url("../src/sofa03.jpg");
    width: 100%;
  }
  .welcomeLogo {
    padding-top: 150px;
  }

  .welcome {
    font-size: calc(4 * var(--size));
    padding-left: 30px;
  }

  .logoBack {
    width: 630px;
    height: 65px;
  }

  .logo {
    padding-left: 30px;
    padding-top: 10px;
  }

  .sentance {
    width: 630px;
    padding-left: 30px;
  }
}

@media (width < 640px) {
  .welcome {
    font-size: calc(3 * var(--size));
    padding-left: 30px;
  }

  .logoBack {
    width: 100%;
    height: 45px;
  }

  .sentance {
    width: 100%;
    padding: 30px;
    padding-top: 20px;
  }
}

@media (width < 365px) {
  .welcome {
    font-size: calc(2.5 * var(--size));
    padding-left: 10px;
  }
  .logo {
    padding-left: 10px;
  }

  .logoBack {
    width: 100%;
    height: 45px;
  }

  .sentance {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
  }
}

@media (width < 365px) {
  .welcome {
    font-size: calc(2.5 * var(--size));
    padding-left: 10px;
  }

  .logo {
    padding-left: 10px;
  }
  .logoBack {
    width: 100%;
    height: 45px;
  }

  .sentance {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
  }
}
