.section3 {
  min-height: 177vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
}

@media (width < 1400px) {

}

@media (width < 1000px) {
  .section3 {
    min-height: 170vh;
  }
}

@media (width < 800px) {
  .section3 {
    min-height: 150vh;
  }
}

@media (width < 700px) {
  .section3 {
    min-height: 110vh;
  }
}

@media (width < 600px) {
    .section3 {
      min-height: 120vh;
    }
}
