
.mainLayout {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

.contentLayout {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  min-height: calc(100vh - var(--hei-30));
}

.headerLayout{
  height: var(--hei-30);

}

.footerLayout{
  height: var(--hei-50);

}

.leftLayout,
.rightLayout,
.midLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--l-bg); /* Set the background color of the track */
  width: 5px;

}

::-webkit-scrollbar-thumb {
  background: var(--l-gray-3); /* Set the color of the thumb (the draggable part) */
}






/* Tablet */
@media (max-width: 920px) {
  .contentLayout {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout */
  }
}

/* Mobile */
@media (max-width: 768px) {
  .contentLayout {
    grid-template-columns: repeat(2, 1fr); /* Two-column layout */
  }
}

/* Mobile  */
@media (max-width: 576px) {
  .contentLayout {
    grid-template-columns: 1fr; /* Single or multi-column layout */
  }
}

/* Mobile  */
@media (max-width: 320px) {
  .contentLayout {
    grid-template-columns: 1fr; /* Single or multi-column layout */
  }
}
