.chatBox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 10px;
}

.chatBox.continuation {
  margin-top: 5px;
}

.chatBox.newMessage {
  margin-top: 10px;
}

.chatBox.sent .content {
  border-top-right-radius: 0;
  order: 1;
}

.chatBox.sent {
  justify-content: right;
}

.chatBox.received .content {
  border-top-left-radius: 0;
  order: 0;
}

.chatBox.received {
  justify-content: left;
}

.content {
  width: 85%;
  background-color: var(--white);
  border-radius: 20px;
}

.senderInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
}

.dp img {
  border-radius: 50%;
  height: 30px;
  display: flex;
  align-items: center;
}

.name{
  font-weight: 700;

}

.msgText {
  /* border: 1px solid rgb(15, 210, 190); */
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 5px 20px;
}

.idDateTime {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
}
.idDateTime .id,
.idDateTime .time {
  color: var(--l-gray-3);
  font-size: 0.7em;
}

.share {
  opacity: 0.2;
}

.share:hover {
  opacity: 1;
}
