/* Code:  */

.categoryContainer {
  border: 1px solid var(--colorCyan);
  border-radius: 10px;
  padding-bottom: 10px;
}
.categoryContainer:hover {
  border: 1px solid var(--colorBlue);
}

.categoryContainer .headName {
  padding: 10px;
  font-weight: var(--boldL3);
  color: var(--colorCyan);
}

.categoryContainer .headName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.categoryContainer:hover .headName {
  color: var(--colorBlue);
}

.categoryContainer .p1 {
  text-align: justify;
  font-weight: var(--boldL1);
}
