.name {
  padding: 1px 0 2px 0;
  text-align: left;
}

.name .name:hover,
.name .code:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: var(--boldL1);
  color: var(--colorBlue);
}
