/* Code: ABAB025 */

.serviceIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceIntro .p1 {
  padding: 10px 20px;
  font-size: calc(1.5 * var(--size));
  font-weight: var(--boldL3);
  color: var(--colorCyan);
  text-align: left;
}
.serviceIntro .p2 {
  text-align: justify;
  padding: 10px 20px;
  max-width: 1400px;
}

.serviceIntro .p3 {
  text-align: left;
  padding: 10px 20px;
  max-width: 1300px;
  font-weight: var(--boldL3);
}
